<div class="container">
  <app-navbar
  (eventosClick)="mostrarEventos()"
  (validacionClick)="mostrarValidacion()"
  (firmasClick)="mostrarFirmas()">
</app-navbar>

    <div class="container">
      <main>
          <section class="certificados">
              <h2>Validación</h2>
              <!-- Barra de búsqueda -->
              <div class="search-bar">
                  <input type="text" placeholder="Buscar...">
                  <button type="button" class="btn btn-primary">Buscar</button>
              </div>
          </section>
      </main>
  </div>
    </div>
