header {
    background-color: #ECF2FF;
    padding: 10px 20px 5px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100vw;
    right: 0%;
    z-index: 1;
    height: 70px;
  }
  
  .logo {
      width: 15vw;
      height: auto;
      cursor: pointer;
      transition: transform 0.3s ease;
  }
  
  .logo:hover {
    transform: scale(1.1);
  }
  
  .login-button {
    height: auto;
    background-color: #190482;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    transition: transform 0.3s ease;
  }
  
  .login-button:hover {
    background-color: #7752FE;
    transform: scale(1.05);
  }
  
  @media (max-width: 1000px){
    header{
            flex-direction: column;
            align-items: center;
            height: 90px;
    }
  }