/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px; /* Ajusta el ancho máximo según tus necesidades */
    margin: 0 auto;
    padding: 20px;
    margin-top: 5%;
}

/* Estilos para la barra de navegación */
app-navbar {
    margin-bottom: 20px;
}

/* Estilos para la sección de botones */
.container_botones {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.container_botones div {
    display: flex;
    align-items: center;
}

h1 {
    margin-right: 20px;
}

button {
    margin-right: 10px;
}

.form-search {
    display: flex;
    align-items: center;
}

.form-search__input {
    display: flex;
    margin-right: 10px;
}

/* Estilos para la tabla */
.container-tabla {
    margin-top: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

/* Estilos para los botones de acción en la tabla */
.botonesFirmas button {
    margin-right: 5px;
}
