<div class="container">
    <app-navbar (eventosClick)="mostrarEventos()" (validacionClick)="mostrarValidacion()"
        (firmasClick)="mostrarFirmas()">
    </app-navbar>

    <div class="container_botones">
        <div>
            <h1>Usuarios</h1>
            <app-eventos></app-eventos>
        </div>

        <form class="form-search">
            <!-- Tu formulario de búsqueda aquí -->
        </form>
        <button type="button" class="btn btn-agregar" (click)="AgregarEstudiante()">
            <i class="fa-solid fa-circle-plus"></i>Agregar Estudiante
        </button>
        <button type="button" class="btn btn-agregar" (click)="importarArchivo()">
            <i class="fa-solid fa-circle-plus"></i> Importar
        </button>
    </div>

    <div class="container-tabla">
        <div *ngIf="participantes.length > 0">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Cedula</th>
                        <th>Nombre</th>
                        <th>Correo</th>
                        <th>Telefono</th>
                        <th>Accion</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let participante of participantes; let i = index">
                        <td>{{ participante.cedula }}</td>
                        <td>{{ participante.nombre_apellido }}</td>
                        <td>{{ participante.correo }}</td>
                        <td>{{ participante.celular }}</td>
                        <td>
                            <div class="botonesFirmas">
                                <button (click)="editarParticipante(participante.id_participante)">Editar</button>
                                <button type="button" class="delete-btn btn btn-primary"
                                    (click)="eliminarParticipante(participante.id_participante)">
                                    <i class="fa-solid fa-trash"></i> Eliminar
                                    {{ participante.id }} <!-- Agregar esta línea para mostrar el ID -->
                                </button>
                            </div>
                        </td>

                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <input type="file" #fileInput style="display: none" (change)="onFileSelected($event)">

</div>