
.container {
    width: 100vw;
    min-height: calc(100vh -70px);
    margin-top: 70px;
}



.container_botones {
    display: flex;
    flex-direction: column;
}

.Tabs{
    display: flex;
    flex-direction: row;
    background-color: #ecf2ff;
    border-radius: 10px;
}

.Tabs .usuariosBtn{
    
}


h1 {
    margin-right: 20px;
}

button {
    margin-right: 10px;
}

.form-search {
    display: flex;
    align-items: center;
}

.form-search__input {
    display: flex;
    margin-right: 10px;
}

/* Estilos para la tabla */
.container-tabla {
    margin-top: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

