<div class="container-search">
    <img class="background-image">

    <div class="container-search__form  ">
        <form class="form-search">
            <h1 class="t1">Encuentra tu Certificado</h1>
            <div class="form-search__input input-group">
                <input type="text" class="form-control" placeholder="Buscar...">
                <button type="submit" class="btn btn-primary">
                    <i class="fas fa-search"></i>
                </button>
            </div>
        </form>
    </div>
</div>
