<div class="container-search position-relative">
    <img class="background-image" src="../../assets/images/1x/graduados.jpg" alt="Fondo de inicio de sesión">
    <div class="container-search__form position-absolute top-50 start-50 translate-middle">
        <h1 class="t1">Encuentra tu Certificado</h1>
        <form class="form-search">
            <div class="form-search__input input-group">
                <input type="text" class="form-control" placeholder="Buscar...">
                <button type="submit" class="btn btn-primary">
                    <i class="fas fa-search"></i>
                </button>
            </div>
        </form>
    </div>
</div>
<div class="modulos">
    <app-modulos></app-modulos>
</div>