/* header.component.css */
header {
  background-color: #ECF2FF;
  padding: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  right: 0%;
  z-index: 1;
}

.logo {

    width: 3cm;
    height: 1.5cm;
    margin-bottom: 0px; /* Ajusta el margen inferior de la imagen según sea necesario */
    
  
}

.login-button {
  background-color: #190482;
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}