.container {
    margin-top: 20px;
  }
  
  .titulo {
    text-align: center;
  }
  
  .dashboard-margin {
    margin-bottom: 20px;
  }
  
  .certificado {
    margin-bottom: 20px;
  }
  
  .card {
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .card-body {
    padding: 15px;
  }
  
  .card-img-top {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
  }
  
  .certificado-actions {
    margin-top: 15px;
  }
  
  .btnEditar,
  .btnEliminar {
    margin-right: 10px;
  }
  
  .btnAgregar {
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  .btnAgregar:hover {
    background-color: #218838;
  }
  
  .fa-plus {
    margin-right: 5px;
  }
  