<div class="container mt-2 text-center">
    <div class="row">
      <div class="col-12">
        <button class="btn btn-success" (click)="download()">Descargar Certificado</button>
      </div>
    </div>
    <div class="row">
      <div class="col-12 container-canvas">
        <canvas
          #canvasRef
          width="900px"
          height="900px"
        ></canvas>
      </div>
    </div>
    <div class="row mt-2">
      <div class="col-6">
        <button class="btn btn-primary" (click)="editarCertificado()">Editar Certificado</button>
      </div>
      <div class="col-6">
        <button class="btn btn-danger" (click)="generarCertificado()">Generar Certificado</button>
      </div>
    </div>
  </div>
  