<app-navbar (eventosClick)="mostrarEventos()" (validacionClick)="mostrarValidacion()" (firmasClick)="mostrarFirmas()"></app-navbar>
<div class="contenedorDashboard">
  <div class="titulo">
    <h1>Eventos</h1>
  </div>
  <div class="contenedorTarjetas">
    <!-- En el HTML de la lista de eventos -->
    <div class="" *ngFor="let evento of eventos">
      <div class="card">
        <div class="card-body" (click)="redirigirDetalle(evento.id_evento)" style="cursor: pointer;">
          <img [src]="'http://34.125.254.116:8000/' + evento.portada" alt="Evento" class="card-img-top">
          <h2>{{ evento.nombre_evento }}</h2>
          <p>{{ evento.descripcion_evento }}</p>
        </div>
      </div>
    </div>

    <div class="">
      <!-- Nueva tarjeta para agregar -->
      <div class="card">
        <div class="card-body text-center">
          <button class="btn btnAgregar" (click)="agregarEvento()"><i class="fa-solid fa-plus"></i><br>
            <p>Agregar evento</p>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>