.contenedorDashboard{
    min-height: calc(100vh - 70px);
    width: 100vw;
    margin-top: 70px;
    padding: 20px 70px 70px 70px;
}

.contenedorTarjetas{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 50px;
    row-gap: 50px;
}

@media (max-width: 990px) {
    .contenedorTarjetas {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 650px) {
    .contenedorTarjetas {
        grid-template-columns: repeat(1, 1fr);
    }
}

.titulo{
    margin-bottom: 20px;
}

.card-body{
    padding: 0;
}

.card{
    min-height: 300px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    border: none;
    transition: transform 0.3s ease;
}

.card:hover{
    transform: scale(1.05);
}

.card-body img{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.card-body button{
    width: 100%;
    height: 300px;
    border-radius: 10px;
}

.btn i{
    font-size: 60px;
    font-weight: 100;
    box-shadow: none;
    transform: none;
}

.card-body h2{
    margin: 10px 20px 10px 20px;
}

.card-body p{
    margin: 10px 20px 10px 20px;
    font-family: HonorSans-ExtraLight;
}

.btnAgregar{
    color: #190482;
}

.btnAgregar:hover{
    color: #190482;
}


.card-img-top{
    width: 100%;
    height: 200px;
    object-fit: cover;
}