<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"> <!-- Agrega la referencia a FontAwesome aquí -->
  </head>
<body>
 <div class="container">
    <div class="menu-container">
      <div class="dropdown">
        <button class="dropbtn">Módulos <i class="fas fa-caret-down"></i></button>
        <div class="dropdown-content">
          <div class="menu-container">
            <button class="module-btn"><i class="fas fa-graduation-cap icon"></i>Eventos</button>
            <button class="module-btn"><i class="fas fa-check-circle icon"></i>Validación</button>
            <button class="module-btn"><i class="fas fa-signature icon"></i>Firmas</button>
          </div>
        </div>
      </div>
    </div>

    <div class="contenido">
      <div class="container">
        <div class="row">
          <div class="col-md-12 dashboard-margin">
            <h1>Dashboard</h1>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="card">
              <div class="card-header">
                <h4>Eventos</h4>
              </div>
              <div class="card-body">
                <img src="../../assets/images/1x/e.png" alt="Descripción de la imagen" class="card-img-top">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, voluptatum.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
 </div>

 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>