
<body>
 <div class="container">
  <app-navbar
  (eventosClick)="mostrarEventos()"
  (validacionClick)="mostrarValidacion()"
  (firmasClick)="mostrarFirmas()">
</app-navbar>
<!-- dashboard.component.html -->
<div class="contenido">
  <div class="container">
    <div class="row">
      <div class="col-md-12 dashboard-margin">
        <h1>Dashboard</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4" *ngFor="let evento of eventos">
        <div class="card">
          <div class="card-header">
            <h4>{{ evento.titulo }}</h4>
          </div>
          <div class="card-body">
            <img [src]="evento.imagen" alt="Descripción de la imagen" class="card-img-top">
            <p>{{ evento.descripcion }}</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <!-- Nueva tarjeta para agregar -->
        <div class="card">
          <div class="card-body text-center">
            <button class="btn btn-primary" (click)="agregarEvento()">Agregar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
