/* Estilos para el resultado de búsqueda */
.container-search {
  min-height: calc(100vh - 70px);
  width: 100vw;
  display: flex;
  flex-direction: column;
}

.contenedorBuscador{
  width: 100%;
  height: 70vh;
  background-image: url(../../../../assets/images/graduados.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.form-search__input {
  width: 50vw;
}

.contenedorTarjetas{
  min-height: 50vh;
  width: 100%;
  padding: 50px;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(3,1fr);
}

.card {
  align-items: center;
  margin: 20px;
  border-radius: 10px;
  border: none;
  box-shadow: 0 0 13px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

.card:hover {
  transform: scale(1.05);
}

.card-body button {
  background-color: #190482;
  color: #fff;
  padding: 5px;
  width: 100%;
  border: none;
  border-radius: 10px;
}

.card-body button:hover {
  background-color: #7752fe;
}


.form-group {
  margin-top: 15px;
  width: 50vw;
  box-sizing: border-box;
}

.form-group label {
  display: block;
  margin-bottom: 8px;
}

.form-group input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 10px;
}

.form-group button {
  background-color: #190482;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  width: 100%;
  transition: transform 0.3s ease;
}

.form-group button:hover {
  background-color: #7752FE !important;
  transform: scale(1.05);
}
