/* Estilos para el contenedor del menú a la izquierda (para pantallas grandes) */
.menu-container {
    position: fixed;
    top: 50px;
    left: 0;
    height: 100%;
    width: 200px;
    background-color: #7752f3;
    padding-top: 20px;
    display: block;
    /* Mostrar el menú por defecto en pantallas grandes */
}

/* Estilos del botón del menú (para pantallas grandes) */
.dropbtn {
    display: none;
    /* Ocultar el botón en pantallas grandes */
}


.dropdown-content {
    display: block;

}

@media screen and (max-width: 768px) {

    .menu-container {
        width: 100%;
        height: auto;
        padding-top: 0;
    }

    .dropbtn {
        display: block;
        background-color: #190482;
        color: white;
        padding: 12px;
        font-size: 16px;
        border: none;
        width: 100%;
        text-align: left;
    }

    .dropdown-content {
        display: none;
        position: static;
        width: auto;
        box-shadow: none;
    }

    .dropdown:hover .dropdown-content {
        display: none;
        /* No mostrar el contenido al pasar el ratón en pantallas pequeñas */
    }

    .dropdown-content a {
        display: block;
        border-bottom: 1px solid #ccc;
    }

    .dropdown-content a:last-child {
        border-bottom: none;
    }

    .dropdown-content a:hover {
        background-color: #f1f1f1;
    }

    .dropdown:hover .dropdown-content {
        display: block;
        /* Mostrar el contenido desplegable al hacer clic o pasar el ratón en pantallas pequeñas */
    }
}

/* Estilos para los botones de los módulos */
.module-btn {
    display: block;
    width: 100%;
    padding: 12px;
    margin-bottom: 5px;
    background-color: #7752f3;
    color: white;
    border: none;
    text-align: left;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    /* Efecto de transición al cambiar el color de fondo */
}

/* Estilo para el hover en los botones de los módulos */
.module-btn:hover {
    background-color: #190482;
    border-radius: 20px;
    cursor: pointer;
}

.contenido {
    margin-top: 70px;
}

/* Estilos para la imagen en la tarjeta */
.card-img-top {
    width: 100%;
    /* Ajusta el ancho de la imagen al ancho de la tarjeta */
    height: auto;
    /* Ajusta la altura de la imagen automáticamente */
    border-bottom: 1px solid #ccc;
    /* Agrega un borde inferior a la imagen */
    margin-bottom: 15px;
    /* Espacio entre la imagen y el contenido */
}

/* Estilos para el título en la tarjeta */
.card-header h4 {
    margin-bottom: 10px;
    /* Espacio bajo el título */
    color: #333;
    /* Color del texto del título */
}

/* Estilos para el cuerpo de la tarjeta */
.card-body {
    padding: 15px;
    /* Añade relleno alrededor del contenido */
    background-color: #f9f9f9;
    /* Color de fondo del cuerpo de la tarjeta */
    border-radius: 5px;
    /* Borde redondeado para la tarjeta */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* Sombra para la tarjeta */
}
.card-body p {
    margin-bottom: 0;
    text-align: center;
    font-size: 18px;
    /* Elimina el espacio bajo el párrafo */
}
.icon {
    margin-right: 8px;
    /* Espacio a la derecha del icono */
    font-size: 18px;
    /* Tamaño del icono */
}
body {
    font-family: Arial, sans-serif;
}

header {
    background-color: #f4f4f4;
    padding: 20px;
    text-align: center;
}

.container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px;
}

.certificate {
    background-color: #ffffff;
    border: 1px solid #cccccc;
    padding: 20px;
    width: 300px;
    text-align: center;
    margin-bottom: 20px;
}

button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

/* Agrega aquí más estilos CSS si es necesario */
