
<div class="container">
    <div class="row">
      <div class="search-section">
        <app-search (searchEvent)="searchByCedula($event)"></app-search>
      </div>
    </div>
  
    <div class="row">
      <div class="modulos-section">
        <app-modulos [categorias]="categorias" (filterEvent)="filterByCategory($event)"></app-modulos>

      </div>
    </div>
  
    <div class="row tarjetas">
      <div class="col-md-4 " *ngFor="let card of cardsData">
        <app-cards [filteredCards]="filteredCards"></app-cards>
      </div>
    </div>
  </div>
  
  