/* Estilos del contenedor principal */
.container {
  max-width: 1200px; /* Ajusta el ancho máximo según sea necesario */
  margin: 0 auto; /* Centra el contenido en el contenedor */
  padding: 20px; /* Agrega relleno al contenedor según sea necesario */
}
